.header {
    margin: 0;
    height: 10%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3 {
    margin: auto;
}
.span {
    align-self:center;
    margin: 5px;
    justify-self: end;
    
}
.button {
    border-radius: 50%;
}